@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&family=Urbanist:wght@600;700;800&display=swap');
@import 'tailwindcss';


@theme {
  /* Modo claro */
  --color-background: #EDEAE4;
  --color-panel: #F7F6F2;
  --color-border: #D7D3CA;
  --color-foreground: #2B3531;

  /* Colores principales */
  --color-primario: #041C08;
  --color-secundario: oklch(0.81 0.035 165);

  /* Modo nocturno */
  --color-dark-background: #101512;
  --color-dark-panel: #171D19;
  --color-dark-border: #29322D;
  --color-dark-foreground: #E8ECE9;
  --color-dark-sidebar: #06150A;
}


html,
body,
#root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100dvh;
}


/* MODO NOCTURNO */

.dark-main {
  background-color: var(--color-dark-background);
  color: var(--color-dark-foreground);
}

.dark-sidebar {
  background-color: var(--color-dark-sidebar);
}


/* TIPOGRAFÍA */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Urbanist', sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

span,
label,
p {
  font-family: 'Epilogue', sans-serif;
}